<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Odontólogos</title>
</head>
<body>
<h1>Lista de Odontólogos</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Matrícula</th>
    </tr>
    <tr th:each="odontologo : ${odontologos}">
        <td th:text="${odontologo.nombre}"></td>
        <td th:text="${odontologo.apellido}"></td>
        <td th:text="${odontologo.matricula}"></td>
    </tr>
</table>
<a href="/odontologos/add">Agregar Odontólogo</a>
</body>
</html>

