<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacientes</title>
</head>
<body>
<h1>Lista de Pacientes</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Domicilio</th>
        <th>Fecha de Alta</th>
    </tr>
    <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.nombre}"></td>
        <td th:text="${paciente.apellido}"></td>
        <td th:text="${paciente.dni}"></td>
        <td th:text="${paciente.domicilio}"></td>
        <td th:text="${paciente.fechaAlta}"></td>
    </tr>
</table>
<a href="/pacientes/add">Agregar Paciente</a>
</body>
</html>

